{{ partial "header.html" . }}
<section id="hyperflow">
    <div class="header_gradient">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h1 class="section_heading_blue fractal_white">Hyperflow</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6 col-xs-12">
                <div class="text-center">
                    <h2 class="sub_heading_blue">Hyperflow is a browser for smart contracts apps and cryptocurrencies</h2>
                    <p>
                      It draws much inspiration from HyperCard, by allowing non-technical people to easily build and run problem solving apps. Though we will differ from HyperCard on these points.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-xs-12 concept_icon">
                <img src="/img/icon-stack-min.png" width="83px" />
            </div>
            <div class="col-lg-4 col-xs-12 concept_info">
                <h2 class="sub_heading_blue">Hypercard concepts to keep</h2>
                <p>
                    The intuitive, and easy to learn approach HyperCard is famous for.
                </p>
                <p>
                    It’s very easy to try out your newly built app, by simply switching between run mode and design mode.
                </p>
                <p>
                    Keep the concept of <strong>cards</strong> and <strong>stacks</strong>, an analogy would be; a card is a webpage and a stack is a website. Each card contains GUI components and logic that links other cards together to form a stack of cards.
                </p>
                <p>
                    Cards, stacks and low level components are shareable via Fractalmarket.
                </p>
            </div>
            <div class="col-lg-2 col-xs-12 text-center concept_icon">
                <img src="/img/icon-share-min.png" width="90px" />
            </div>
            <div class="col-lg-4 col-xs-12 concept_info">
                <h2 class="sub_heading_blue">Hypercard concepts to remove</h2>
                <p>
                    Remove the HyperTalk programming language and replace it with Flowscript, a Flow-based Programming language that promotes reusability.
                </p>
                <p>
                    HyperCard didn't have a network layer, it should go without saying, but this will be corrected.
                </p>
            </div>
        </div>
    </div>
</section>
<section id="hyperflow_modes">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="text-center">
                    <h2 class="sub_heading_blue">HyperCard is old and outdated. Hyperflow will be a fresh new take on HyperCard, being completely rewritten from scratch</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-4">
                <div class="hyperflow_mode_top">
                    <img src="/img/hyperflow-min/node@2x-min.png" width="317px" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="hyperflow_mode_description">
                    <h2 class="sub_heading_blue">Node mode</h2>
                    <p>
                        Node mode of development is primarily for programmers, allowing them to build reusable, reproducible and composable software agents or “black box” processes.
                    </p>
                    <p>
                        Racket, the programming language used, gives programmers a wealth of programming language concepts to use at their disposal.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-4">
                <div class="hyperflow_mode_mid">
                    <img src="/img/hyperflow-min/graph@2x-min.png" width="317px" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="hyperflow_mode_description">
                    <h2 class="sub_heading_blue">Graph mode</h2>
                    <p>
                        Graph mode allows domain experts, such as engineers, biologists and mathematicians etc, to compose agents created by programmers into networks of nodes. These networks of “black box” processes exchange data across predefined connections by message passing, where the connections are specified externally to the processes. These “black box” processes can be reconnected endlessly to form different applications without having to be changed internally.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-4">
                <div class="hyperflow_mode_bottom">
                    <img src="/img/hyperflow-min/run@2x-min.png" width="317px" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="hyperflow_mode_description">
                    <h2 class="sub_heading_blue">Run mode</h2>
                    <p>
                        Run mode allows all users to execute applications created by programmers and domain experts. This is the equivalent mode to a traditional HTTP browser.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{{ partial "signup.html" . }}
{{ partial "footer.html" . }}
