<section id="cardano">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h1 class="section_heading_blue fractal_blue">Cardano</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <div class="text-center">
                        <h2 class="sub_heading_blue">A secure, scalable blockchain</h2>
                        <p>
                            Designed from first principles, the Cardano blockchain will be amongst the most powerful, customizable, scalable platforms out there. Fractalide will be based on Cardano.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div class="text-center">
                        <h2 class="sub_heading_blue">Reasons for choosing Cardano</h2>
                    </div>
                    <div class="text-left">
                        <ul>
                            <li>
                                <span>
                                    Cardano is designed in layers, separating money from the machine. The Settlement Layer and Computation Layer exist independently of each other. This very same design feature allows scaling up to potentially millions of people.
                                </span>
                            </li>
                            <li>
                                <span>
                                    The work of Philip Wadler and Grigore Rosu et al have taken important steps to secure the smart contract programming languages. Preventing situations like the Ethereum DAO cracking event and the Parity multi-sig debacle.
                                </span>
                            </li>
                            <li>
                                <span>
                                    Cardano implements Ouroboros, a provably secure Proof of Stake consensus algorithm designed by Aggelos Kiayias.
                                </span>
                            </li>
                            <li>
                                <span>
                                    A treasury using Liquid Democracy takes steps at ensuring Cardano is properly maintained well into the future.
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
