<section id="cardamo_tangrum">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h1 class="section_heading_blue fractal_blue">Cardano + Tangrum</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <div class="text-center">
                        <h2 class="sub_heading_blue">Safe, secure, scalable blockchains </h2>
                        <p>
                            Designed from first principles, the <strong>Cardano</strong> blockchain will be the most powerful,
                            customizable, scalable platform out there.
                        </p>
                        <p>
                            Although Fractalide is not associated with IOHK, <strong>Cardano</strong> Foundation nor Emurgo,
                            we feel strongly that <strong>Cardano</strong> is the way of the future hence we’re putting money on
                            that horse.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div class="text-center">
                        <h2 class="sub_heading_blue">Reasons for choosing Cardano </h2>
                    </div>
                    <div class="text-left">
                        <ul>
                            <li>
                                <span>
                                    <strong>Cardano</strong> is designed in layers, separating money from the machine. The Settlement
                                    Layer and Computation Layer exist independently of each other.
                                </span>
                            </li>
                            <li>
                                <span>
                                    The Computation Layer makes use of Grigore Rosu’s K-Framework, an executable
                                    semantics framework. Meaning any programming language created with it is
                                    formally specified out of the box. Ensuring your smart contract code does exactly
                                    what it’s meant to do. Thus taking significant steps at avoiding catastrophic events
                                    like the Ethereum DAO cracking event and the Parity multi-sig debacle.
                                </span>
                            </li>
                            <li>
                                <span>
                                    Plutus the <strong>Cardano</strong> smart contract programming language is designed by Philip Wadler.
                                </span>
                            </li>
                            <li>
                                <span>
                                    High (enough) assurance code: <strong>Cardano</strong> implements Ouroboros, a provably secure
                                    Proof of Stake consensus algorithm, where the semantic gap between
                                    implementation and theory was closed by incremental developments ensuring
                                    shipped code accurately matches specification.
                                </span>
                            </li>
                            <li>
                                <span>
                                    Ouroboros draws a few important ideas from Silvio Micali’s Algorand and thus is in
                                    the same family of energy efficient and democratic Proof of Stake algorithms.
                                </span>
                            </li>
                            <li>
                                <span>
                                    The development and research team behind <strong>Cardano</strong> are best of breed.
                                </span>
                            </li>
                            <li>
                                <span>
                                    A treasury using Liquid Democracy takes steps at ensuring the <strong>Cardano</strong> blockchain
                                    is properly maintained.
                                </span>
                            </li>
                        </ul>
                        <p>
                            The second blockchain Fractalide will support is the <a href="#">Tangrum Blockchain</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
