<section id="fractalmarket">
    <div class="gradient_top"></div>
    <div class="solid">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h1 class="section_heading_blue fractal_white">Fractalmarket</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-3 col-md-6 col-xs-12">
                    <div class="text-center">
                        <h2 class="sub_heading_white">A cryptocontract app marketplace</h2>
                        <p>
                            Hyperflow components and applications should be shared with people. This will be
                            done via Fractalmarket. These are the features:
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xs-12 text-center">
                    <div class="feature">
                        <img src="{{ .Site.BaseURL }}img/icon-buy-min.png" />
                        <p>
                            Users may buy and sell components and applications for <strong>Fractal</strong>.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 text-center">
                    <div class="feature">
                        <img src="{{ .Site.BaseURL }}img/icon-search-min.png" />
                        <p>
                            Users may search and download components and applications.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 text-center">
                    <div class="feature">
                        <img src="{{ .Site.BaseURL }}img/icon-align-min.png" />
                        <p>
                            We are aligning Fractalmarket to reward people for creating and using reusable components.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="gradient_bottom"></div>
</section>
