<section id="hyperflow">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <h1 class="section_heading_blue fractal_blue">Hyperflow</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-3 col-md-6 col-xs-12">
                <div class="text-center">
                    <h2 class="sub_heading_blue">Rapid application development platform</h2>
                    <p>
                        Hyperflow draws much inspiration from HyperCard. It allows programmers and non-programmers to easily build problem solving applications. Though we will differ from HyperCard on these points.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12 concept_container" >
                    <div class="concept_icon">
                        <img src="{{ .Site.BaseURL }}img/icon-stack-min.png" width="55px" />
                    </div>
                    <div class="concept_info">
                        <h2 class="sub_heading_blue">Hypercard concepts to keep</h2>
                        <p>
                            The intuitive, semantically clear and easy to learn approach HyperCard is famous for.
                        </p>
                        <p>
                            It’s very easy to see and test what you just built, by simply switching between run mode and design mode.
                        </p>
                        <p>
                            Keep the concept of cards and stacks, an analogy would be; a card is a webpage and a stack is a website. Each card contains GUI components and logic that links all the other cards together to form a stack of cards.
                        </p>
                    </div>
            </div>
            <div class="col-md-6 col-xs-12 concept_container">
                <div class="concept_icon">
                    <img src="{{ .Site.BaseURL }}img/icon-share-min.png" width="60px" />
                </div>
                <div class="concept_info">
                    <h2 class="sub_heading_blue">Hypercard concepts to remove</h2>
                    <p>
                        Remove the HyperTalk programming language and replace it with Flowscript. HyperTalk isn’t a powerful enough programming language for more serious apps.
                    </p>
                    <p>
                        Design it such that stacks can be shareable and reproducible across networks of computers.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
