<section id="signup">
    <div class="background_container">
        <img class="background_aspect_ratio" src="{{ .Site.BaseURL }}img/footer-min.png" />
        <div class="background_filler"><!--to compensate img/footer-min.png on small resolutions--></div>
        <div class="content content_signup">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h1 class="section_heading_white">Sign up for early access</h1>
                            <p class="text_white">
                                You will get the latest news about Fractalmarket.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8">
                        <form id="signup_form">
                            <div class="form-group">
                                <input type="email" class="form-control input-lg" id="email" placeholder="Enter your email">
                            </div>
                            <button type="submit" class="btn btn-lg btn-default btn-block">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
