<section id="stack">
    <div class="header_background">
        <div class="header_content_stack">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                        <div class="text-center">
                            <img src="{{ .Site.BaseURL }}img/stack-min.png" width="121px" />
                            <h1 class="section_heading_white">A Smart Contract App Marketplace</h1>
                            <p class="text_white">
                                You don’t have to be a programmer to use smart contracts.<br>Fractalide is an app store linked to a new browser, allowing you to run, create, buy and sell apps.
                            </p>
                            <button class="btn btn-lg btn-default">Sign up for early access</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
