<section id="stack">
    <div class="header_background">
        <div class="header_content_stack">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                        <div class="text-center">
                            <img src="{{ .Site.BaseURL }}img/stack-min.png" width="121px" />
                            <h1 class="section_heading_white">A New Browser Connected to a Smart Contract App Store</h1>
                            <p class="text_white">
                                Fractalide provides a new browser for smart contracts and cryptocurrencies.  The browser, Hyperflow, allows people to execute and develop applications found in a connected app marketplace called Fractalmarket. We also offer Development Services, Technical Analysis and provide a Cardano Stake Pool.
                            </p>
                            <button class="btn btn-lg btn-default">Sign up for early access</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
