<section id="stack">
    <div class="background_container">
        <div class="background_filler"><!--to compensate img/header-min.png on small resolutions--></div>
        <img class="background_aspect_ratio" src="{{ .Site.BaseURL }}img/header-min.png" />
        <div class="content content_stack">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                        <div class="text-center">
                            <img src="{{ .Site.BaseURL }}img/stack-min.png" width="121px" />
                            <h1 class="section_heading_white">A Smart Contract App Marketplace</h1>
                            <p>
                                You don’t have to be a programmer to use cryptocontracts. Fractalide is an app store much like Apple's and Google's. Finding apps on Cardano network is hard, using them is harder.
                            </p>
                            <button class="btn btn-lg btn-default">Sign up for early access</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
