/*********************/
/* Fractalide Styles */
/*********************/
* {
    font-family: "Nunito Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #171d1f;
}
.text_white {
    color: #ffffff;
}
.text_blue {
    color: #58B4CD;
}
h1 {
    font-weight: 900;
    font-size: 40px;
}
h1.section_heading_blue {
    color: #0d3e4c;
}
h1.section_heading_white {
    color: #ffffff;
}
h1.fractal_blue {
    background: url('../img/fractal-blue-min.png') no-repeat center;
    background-size: 437px 190px;
    height: 190px;
    padding-top: 75px;
}
h1.fractal_white {
    background: url('../img/fractal-white-min.png') no-repeat center;
    background-size: 437px 190px;
    height: 190px;
    padding-top: 75px;
}
h1.no_fractal {
    padding-top: 75px;
}
h2 {
    font-size: 24px;
}
h2>a {
    font-size: 24px;
}
h2>a:hover {
    text-decoration: none;
}
h2.sub_heading_blue {
    color: #58b4cd;
}
h2.sub_heading_white {
    color: #ffffff;
}
h3 {
    color: #0D3E4C;
    font-size: 18px;
    font-weight: bold;
}
p {
    font-size: 16px;
    color: #171d1f;
}
a {
    font-size: 16px;
    color: #58b4cd;
}
a.topnav .active {
    font-size: 14px;
    color: #ffffff;
}
a.topnav .inactive {
    font-size: 14px;
    color: #a7ddec;
}
a.disclaimer {
    font-size: 14px;
    color: #ffffff;
}
ul {
    padding: 1em;
}
ul li {
  color: #64DBEC;
}

/******************/
/* Header section */
/******************/
.background_container {
  position: relative;
}
.background_aspect_ratio {
  width: 100%;
  height: auto;
}
.background_filler {
  background-color: rgb(88, 180, 205);
  width: 100%;
}
@media (max-width: 479px) {
  .background_filler {
    height: 600px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .background_filler {
    height: 200px;
  }
}
.content {
  width: 100%;
  position: absolute;
  left: 0;
}
.content_stack {
  top: 0;
  margin-top: 90px;
  vertical-align: middle;
}
.header_gradient {
    background-image: -moz-linear-gradient( 90deg, rgba(88, 180, 205, 0) 0%, rgb(88, 180, 205) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgba(88, 180, 205, 0) 0%, rgb(88, 180, 205) 100%);
    background-image: -ms-linear-gradient( 90deg, rgba(88, 180, 205, 0) 0%, rgb(88, 180, 205) 100%);
    width: 100%;
    height: 300px;
    margin-top: 75px;
}

/******************/
/* Footer section */
/******************/
.footer_background {
    background: #FFFFFF url('../img/footer-min.png') no-repeat center bottom;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    width: 100%;
    height: 0;
    padding-top: 67.97%; /* (img-height / img-width * width) */
}
.signup_form {
    margin: 30px 0 0 0;
}
.footer_content_signup {
    margin-top: -30%;
}
.footer_content_faqs {
    margin-top: -24%;
}
.footer_content_roadmap {
    margin-top: -16%;
}
.footer_gradient {
    background-image: -moz-linear-gradient( 90deg, rgb(88, 180, 205) 0%, rgba(88, 180, 205, 0) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(88, 180, 205) 0%, rgba(88, 180, 205, 0) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(88, 180, 205) 0%, rgba(88, 180, 205, 0) 100%);
    width: 100%;
    padding-top: 200px;
}
.footer_solid {
    background-color: rgb(88, 180, 205);
    width: 100%;
    padding-top: 10px
}


/***********************************/
/* Page: Home - Section: Hyperflow */
/***********************************/
.concept_container {
    display: flex;
}
.concept_icon {
    order: 1;
    width: 60px;
    margin-top: 25px;
    margin-right: 30px;
}
.concept_info {
    order: 2;
}

/***************************************/
/* Page: Home - Section: Fractalmarket */
/***************************************/
.gradient_top {
    background-image: -moz-linear-gradient( 90deg, rgb(167, 221, 236) 0%, rgba(167, 221, 236, 0) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(167, 221, 236) 0%, rgba(167, 221, 236, 0) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(167, 221, 236) 0%, rgba(167, 221, 236, 0) 100%);
    width: 100%;
    height: 200px;
}
.solid {
    background-color: rgb(167, 221, 236);
    width: 100%;
    height: auto;
}
.gradient_bottom {
    background-image: -moz-linear-gradient( 90deg, rgba(167, 221, 236, 0) 0%, rgb(167, 221, 236) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgba(167, 221, 236, 0) 0%, rgb(167, 221, 236) 100%);
    background-image: -ms-linear-gradient( 90deg, rgba(167, 221, 236, 0) 0%, rgb(167, 221, 236) 100%);
    width: 100%;
    height: 200px;
}
.feature {
    background: url('../img/shape-min.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 288px 246px;
    width: 288px;
    height: 246px;
    padding-top: 30px;
    margin: 0 auto 15px auto;
}
@media (min-width: 768px) {
  .feature {
    background-size: 360px 308px;
    width: 360px;
    height: 308px;
    padding-top: 70px;
  }
}
@media (min-width: 992px) {
  .feature {
    background-size: 288px 246px;
    width: 288px;
    height: 246px;
    padding-top: 30px;
  }
}
@media (min-width: 1200px) {
  .feature {
    background-size: 360px 308px;
    width: 360px;
    height: 308px;
    padding-top: 70px;
  }
}
.feature > p {
    margin-top: 30px;
    padding-left: 60px;
    padding-right: 60px;
}

/*********************************/
/* Page: Home - Section: Cardano */
/*********************************/
#cardano ul li {
  margin-bottom: 30px;
}


/******************/
/* Page: About us */
/******************/
.team_member {
    margin: 30px 0 30px 0;
}
.content_vision {
    padding-bottom: 120px;
}
.hero_bg_copy {
    background-image: -moz-linear-gradient( 90deg, rgb(88, 180, 205) 0%, rgba(83, 207, 196, 0.50196) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(88, 180, 205) 0%, rgba(83, 207, 196, 0.50196) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(88, 180, 205) 0%, rgba(83, 207, 196, 0.50196) 100%);
}

/*****************/
/* Page: Roadmap */
/*****************/
.roadmap {
    margin-top: 80px;
}
.roadmap_container {
    display: flex;
    height: 100%;
}
.roadmap_spot {
    text-align: center;
    padding-bottom: 2px;
}
.roadmap_icon {
    order: 1;
    width: 49%;
    text-align: right;
    margin-right: 30px;
    margin-top: -65px;
}
.roadmap_line {
    order: 2;
    width: 1%;
    border-right: 4px solid #79949F;
    margin-right: -4px;
    min-height: 200px;
}
.roadmap_line_fill {
    order: 3;
    width: 1%;
}
.roadmap_info {
    order: 4;
    width: 49%;
    margin-left: 30px;
    margin-top: -40px;
    padding-bottom: 60px;
}
.roadmap_details a,
.roadmap_details li,
.roadmap_details p {
    color: #000000;
    font-size: 14px;
}
.roadmap_details a {
    text-decoration: none !important;
}
.roadmap_details ul {
    margin-bottom: 0px;
}
.roadmap_details li {
    margin-bottom: 15px;
}
.roadmap_info a[aria-expanded="false"] i.fa-chevron-up
{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.roadmap_line_end {
    position: absolute;
    z-index: 9999 !important;
}
.roadmap_line_end {
    /*order: 1;*/
    width: 50%;
    border-right: 4px solid #79949F;
    margin-left: 2px;
    height: 200px;
}
.roadmap_fractal {
    text-align: center;
    padding-top: 210px;
    height: 280px;
}
.roadmap_footer {
    margin-top: -44%;
}

/********/
/* Blog */
/********/
.sidebar-menu ul {
  padding: 5px 0 5px 0;
}
.sidebar-menu ul li a {
  padding: 5px 0 5px 0;
}
ul li > span {
  color: #171d1f;
}

/***************************/
/* Bootstrap Customization */
/***************************/

/* Navbar */
.navbar {
  height: 75px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.navbar-brand {
  background-image: url('../img/logo-min.png');
  background-size: 195px;
  background-position: center;
  background-repeat: no-repeat;
  width: 195px;
  height: 75px;
}
.navbar-default {
    background-color: transparent
}
.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    background-color: transparent
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background-color: transparent
}
.dropdown-menu {
    background-color: #FFFFFF
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    background-color: #FFFFFF
}
.navbar-default {
    border-color: transparent
}
.navbar-default .navbar-brand {
    color: #FFFFFF
}
.navbar-default .navbar-brand:hover {
    color: #FFFFFF
}
.navbar-default .navbar-nav>li>a {
    color: #E8F7FA
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #FFFFFF
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: #FFFFFF
}
.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #FFFFFF
}
.dropdown-menu>li>a {
    color: #58B4CD
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    color: #0D3E4C
}
.navbar-default .navbar-nav>.dropdown>a .caret {
    border-top-color: #E8F7FA
}
.navbar-default .navbar-nav>.dropdown>a:hover .caret {
    border-top-color: #FFFFFF
}
.navbar-default .navbar-nav>.dropdown>a .caret {
    border-bottom-color: #E8F7FA
}
.navbar-default .navbar-nav>.dropdown>a:hover .caret {
    border-bottom-color: #FFFFFF
}

.affix-top {
  /* navbar style at top */
  padding: 0px;
  -webkit-transition:all 0.5s ease-in;
  -moz-transition:all 0.5s ease-in;
  -o-transition:all 0.5s ease-in;
  transition:all 0.5s ease-in;
  background: #58B4CD;
  border-color: #58B4CD;
}

.affix {
  -webkit-transition:all 0.5s ease-out;
  -moz-transition:all 0.5s ease-out;
  -o-transition:all 0.5s ease-out;
  transition:all 0.5s ease-out;
  background: #FFFFFF;
  border-color: #FFFFFF;
}

.affix {
    background-color: #FFFFFF
}
.dropdown-menu {
    background-color: #FFFFFF
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    background-color: #FFFFFF
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    background-image: none;
}
.affix {
    border-color: #FFFFFF
}
.affix .navbar-brand {
    background-image: url('../img/logo-blue-min.png');
    color: #0D3E4C;
}
.affix .navbar-brand:hover {
    color: #58B4CD
}
.affix .navbar-nav>li>a {
    color: #58B4CD
}
.affix .navbar-nav>li>a:hover, .affix .navbar-nav>li>a:focus {
    color: #58B4CD
}
.affix .navbar-nav>.active>a, .affix .navbar-nav>.open>a, .affix .navbar-nav>.open>a:hover, .affix .navbar-nav>.open>a:focus {
    color: #0D3E4C
}
.affix .navbar-nav>.active>a:hover, .affix .navbar-nav>.active>a:focus {
    color: #0D3E4C
}
.dropdown-menu>li>a {
    color: #58B4CD
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    color: #0D3E4C
}
.affix .navbar-nav>.dropdown>a .caret {
    border-top-color: #58B4CD
}
.affix .navbar-nav>.dropdown>a:hover .caret {
    border-top-color: #0D3E4C
}
.affix .navbar-nav>.dropdown>a .caret {
    border-bottom-color: #58B4CD
}
.affix .navbar-nav>.dropdown>a:hover .caret {
    border-bottom-color: #0D3E4C
}

/* Buttons */
.btn-default {
    color: #FFF;
    background-color: #ED7A7F;
    border-color: #ED7A7F;
}
.btn-default:focus,
.btn-default.focus {
    color: #EEE;
    background-color: #ED7A7F;
    border-color: #ED7A7F;
}
.btn-default:hover {
    color: #EEE;
    background-color: #ED7A7F;
    border-color: #ED7A7F;
}
.btn-default:active,
.btn-default.active,
.open>
.dropdown-toggle.btn-default {
    color: #EEE;
    background-color: #ED7A7F;
    border-color: #ED7A7F;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open> .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open> .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open> .dropdown-toggle.btn-default.focus {
    color: #EEE;
    background-color: #ED7A7F;
    border-color: #ED7A7F;
}
.btn-default:active,
.btn-default.active,
.open> .dropdown-toggle.btn-default {
    background-image: none;
}
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
    background-color: #fff;
    border-color: #ccc;
}
.btn-default .badge {
    color: #fff;
    background-color: #EEE;
}

/********/
/* Blog */
/********/
.img-responsive {
    padding-top: 22px;
    width: 100%;
}

.btn-blue {
    color: #FFF;
    background-color: #58B4CD;
    border-color: #58B4CD;
}
.btn-blue:focus,
.btn-blue.focus {
    color: #EEE;
    background-color: #58B4CD;
    border-color: #58B4CD;
}
.btn-blue:hover {
    color: #EEE;
    background-color: #58B4CD;
    border-color: #58B4CD;
}
.btn-blue:active,
.btn-blue.active,
.open>
.dropdown-toggle.btn-blue {
    color: #EEE;
    background-color: #58B4CD;
    border-color: #58B4CD;
}
.btn-blue:active:hover,
.btn-blue.active:hover,
.open> .dropdown-toggle.btn-blue:hover,
.btn-blue:active:focus,
.btn-blue.active:focus,
.open> .dropdown-toggle.btn-blue:focus,
.btn-blue:active.focus,
.btn-blue.active.focus,
.open> .dropdown-toggle.btn-blue.focus {
    color: #EEE;
    background-color: #58B4CD;
    border-color: #58B4CD;
}
.btn-blue:active,
.btn-blue.active,
.open> .dropdown-toggle.btn-blue {
    background-image: none;
}
.btn-blue.disabled:hover,
.btn-blue[disabled]:hover,
fieldset[disabled] .btn-blue:hover,
.btn-blue.disabled:focus,
.btn-blue[disabled]:focus,
fieldset[disabled] .btn-blue:focus,
.btn-blue.disabled.focus,
.btn-blue[disabled].focus,
fieldset[disabled] .btn-blue.focus {
    background-color: #fff;
    border-color: #ccc;
}
.btn-blue .badge {
    color: #fff;
    background-color: #EEE;
}

.btn-tag {
    color: #FFF;
    background-color: #FFFFFF;
    border-color: #58B4CD;
    margin: 5px;
}
.btn-tag:focus,
.btn-tag.focus {
    color: #EEE;
    background-color: #FFFFFF;
    border-color: #58B4CD;
}
.btn-tag:hover {
    color: #EEE;
    background-color: #FFFFFF;
    border-color: #58B4CD;
}
.btn-tag:active,
.btn-tag.active,
.open>
.dropdown-toggle.btn-tag {
    color: #EEE;
    background-color: #FFFFFF;
    border-color: #58B4CD;
}
.btn-tag:active:hover,
.btn-tag.active:hover,
.open> .dropdown-toggle.btn-tag:hover,
.btn-tag:active:focus,
.btn-tag.active:focus,
.open> .dropdown-toggle.btn-tag:focus,
.btn-tag:active.focus,
.btn-tag.active.focus,
.open> .dropdown-toggle.btn-tag.focus {
    color: #EEE;
    background-color: #FFFFFF;
    border-color: #58B4CD;
}
.btn-tag:active,
.btn-tag.active,
.open> .dropdown-toggle.btn-tag {
    background-image: none;
}
.btn-tag.disabled:hover,
.btn-tag[disabled]:hover,
fieldset[disabled] .btn-tag:hover,
.btn-tag.disabled:focus,
.btn-tag[disabled]:focus,
fieldset[disabled] .btn-tag:focus,
.btn-tag.disabled.focus,
.btn-tag[disabled].focus,
fieldset[disabled] .btn-tag.focus {
    background-color: #fff;
    border-color: #ccc;
}
.btn-tag .badge {
    color: #fff;
    background-color: #EEE;
}

.form-control {
  border-color: #58B4CD;
}
.form-control::placeholder {
    color: #58B4CD;
}
.read-more a {
    color: #58B4CD;
    padding: 0;
    text-decoration: underline;
}
.pagination a {
    color: #58B4CD;
    border: 0;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
.pagination li {
    border-width: 0;
    border-color: transparent;
}
.pagination>li>a,
.pagination>li>span {
  border: 0;
}
.pagination>li.active>a {
  background: #58B4CD;
  color: #fff;
  border: 0;
}
.pagination>li.active>a:hover {
    cursor: pointer;
    background: #58B4CD;
}

.blog_post {
    margin-bottom: 60px;
}
