{{ partial "header.html" . }}
<section id="cardano">
    <div class="header_gradient">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h1 class="section_heading_blue fractal_white">Cardano Stake Pool</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="text-left">
                  <p>
                      A Cardano Stake Pool forms a pivotal role in securing the cryptocurrency ADA. The generally Proof of Stake algorithms require users to be online.  Many users cannot be online as they might not wish to setup a node with 24/7 Internet access that is always available to perform voting mechanism needed to determine who appends the next block onto the blockchain.
                  </p>
                  <p>
                      Cardano’s Proof of Stake algorithm Ouroboros implements a means whereby users may delegate their vote to whichever a stake pool they choose. Allowing them to be offline should they wish it.
                  </p>
                  <p>
                      Stake pool owners earn a reward as well as the people who delegate their stake to a stake pool. The Cardano blockchain will ensure the payments are paid to the staker delegators this isn’t done by the stake pool owners. So should a pool not be doing what you want it to do then you may simply withdraw your delegation.
                  </p>
                  <p>
                      In our pool, all earnings from being stake pool owner will be channelled into Fractalide development (after server costs). We hope this is sufficient good way to improve the software surrounding Cardano.
                  </p>
                </div>
            </div>
        </div>
    </div>
</section>
{{ partial "signup.html" . }}
{{ partial "footer.html" . }}
