{{ partial "header.html" . }}
<section id="cardano">
    <div class="header_gradient">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h1 class="section_heading_blue fractal_white">Cardano Stake Pool</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="text-left">
                  <p>
                      A Cardano Stake Pool forms an important role in securing the ADA cryptocurrency. Ouroboros, the Proof of Stake algorithm, needs users to be online. Which is inconvenient for many users.
                  </p>
                  <p>
                      Ouroboros allows offline users to delegate their vote to a stake pool of their choice. This way, users may take part in securing the consensus algorithm and earn rewards. Please note, this does <b>not</b> mean you transfer your ADA to us, only the means to take part in the consensus process.
                  </p>
                  <p>
                      The Cardano blockchain pays the delegators and delegatees, removing fear theft. This approach also allows the application of game theory to achieve decentralization. So we avoid the problem of Bitcoin's centralized mining.
                  </p>
                  <p>
                      Game theory motivates stake pools not to get too big allowing an attack on the consensus protocol.
                  </p>
                  <p>
                      Q2 or Q3, 2018 signals the Cardano Shelley release. Shelley represents a completely decentralized Cardano. That's when Fractalide's Cardano Stake Pool goes live.
                  </p>
                  <p>
                      All Stake Pool earnings, after server costs, goes to Fractalide development.
                  </p>
                  <p>
                      We welcome your vote delegation. Your help improves Fractalide and surrounding Cardano software.
                  </p>
                </div>
            </div>
        </div>
    </div>
</section>
{{ partial "signup.html" . }}
{{ partial "footer.html" . }}
