{{ partial "header.html" . }}
<section id="development-and-analysis">
    <div class="header_gradient">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h1 class="section_heading_blue fractal_white">Blockchain Development</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="subsection" id="blockchain_development">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <div class="text-center">
                        <h2 class="sub_heading_blue">Blockchain Development</h2>
                        <p>
                            ***
                        </p>
                        <p>
                            ***
                        </p>
                    </div>
                    <div class="text-left">
                        <ul>
                            <li>
                                <span>
                                    ***
                                </span>
                            </li>
                            <li>
                                <span>
                                    ***
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="subsection" id="technical_analysis">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div class="text-center">
                        <h2 class="sub_heading_blue">Technical Analysis</h2>
                        <p>
                            ***
                        </p>
                        <p>
                            ***
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="subsection" id="app_development">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div class="text-center">
                        <h2 class="sub_heading_blue">App Development</h2>
                        <p>
                            ***
                        </p>
                        <p>
                            ***
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
{{ partial "signup.html" . }}
{{ partial "footer.html" . }}
