{{ partial "header.html" . }}
<section id="development_and_analysis">
    <div class="header_gradient">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h1 class="section_heading_blue fractal_white">Development and Analysis</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-2 col-lg-8 col-sm-offset-2 col-sm-8 text-center">
                <h2 class="sub_heading_blue">Fractalide Features</h2>
                <p>
                    Fractalide applications are written using reusable, reproducible and composable software blocks that allow for a reduction in software development costs.
                </p>
                <p>
                    Customers will see the benefit of developing software this way through a reduction in cost and increase in software quality and stability.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-xs-12 text-center development_item">
                <img src="/img/roadmap-min/fractal-min.png" />
                <h3>Reusability</h3>
                <p>
                    Components consist of a function with predefined bounded buffer inputs and outputs. Every component has a single run function with the same signature. This setup allows for a very reusable system. Software quality improves because components are reusable. Over time components become robust, meaning programmers don’t have to firefight.
                </p>
            </div>
            <div class="col-lg-4 col-xs-12 text-center development_item">
                <img src="/img/roadmap-min/fractal-min.png" />
                <h3>Reproducibility</h3>
                <p>
                    Most reusable systems don’t pay enough attention to reproducibility. Reproducibility is the act of reproducing a system with the least amount of manual steps. In our case, we have reduced it down to typing the component’s name. The build system is can setup all transitive dependencies of that named component. Even if they have dependencies on other subsystems like python. Fewer manual steps mean less money spent on programmer time. Making programmers more efficient.
                </p>
            </div>
            <div class="col-lg-4 col-xs-12 text-center development_item">
                <img src="/img/roadmap-min/fractal-min.png" />
                <h3>Composability</h3>
                <p>
                    Composable systems allow the programmer to layer software into abstractions. Each abstraction does one and only one thing. It’s quite easy to decompose an abstraction and isolate the exact component you want. Then reuse it in a new abstraction. Strong isolation allows the programmer to find bugs and design systems. That is amenable to long-term maintenance. The maintenance phase of software development is the most costly phase.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-offset-2 col-lg-8 col-sm-offset-2 col-sm-8 text-center development_title">
                <h2 class="sub_heading_blue">Services offered</h2>
                <p>
                    We offer development and consulting in these areas:
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-xs-12 text-center development_item">
                <img src="/img/roadmap-min/fractal-min.png" />
                <h3>Blockchain Development</h3>
                <p>
                    We build financial systems and blockchains for government entities and corporations. We focus on reusing as much as possible. This helps us provide better prices to customers. We accept custom projects as they’ll expand our tool box. We also can incorporate existing blockchains.
                </p>
            </div>
            <div class="col-lg-4 col-xs-12 text-center development_item">
                <img src="/img/roadmap-min/fractal-min.png" />
                <h3>Application Development</h3>
                <p>
                    Fractalide apps run on Hyperflow and are reusable, reproducible and composable components. They can talk to smart contracts on the blockchain.
                </p>
                <p>
                    We offer corporations development services to help design and develop their applications. These might be general purpose applications which might not connect to a blockchain. They may be logistics application coupled to a specific blockchain.
                </p>
            </div>
            <div class="col-lg-4 col-xs-12 text-center development_item">
                <img src="/img/roadmap-min/fractal-min.png" />
                <h3>Technical Analysis</h3>
                <p>
                    Our language security specialist Meredith L. Patterson. The founder of the IEEE field Language-theoretic Security. Will do a technical analysis of your white paper.
                </p>
                <p>
                    The Analysis can extend to language security analysis of your contract programming language. Implementation.
                </p>
                <p>
                    All research is under the license Community Commons license Attribution + ShareAlike (BY-SA).
                </p>
            </div>
        </div>
    </div>
</section>
{{ partial "signup.html" . }}
{{ partial "footer.html" . }}
