{{ partial "header.html" . }}
<section id="fractalmarket">
    <div class="header_gradient">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h1 class="section_heading_blue fractal_white">Fractalmarket</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-3 col-lg-6 col-xs-12">
                <div class="text-center">
                    <h2 class="sub_heading_blue">A cryptocontract app marketplace</h2>
                    <p>
                        Hyperflow components, cards and stacks should be shared with people (an analogy would be; a card is a webpage and a stack is a website). This will be done via Fractalmarket. Users may buy and sell components, cards and stacks using ADA or users may choose to publish their components, cards and stacks as open source with or without a price tag.
                    </p>
                    <p>
                        The marketplace is tightly integrated into Hyperflow allowing users to easily find, then drag-and-drop components into their cards and stacks.
                    </p>
                    <p>
                        Fractalmarket rewards people for creating and using reusable components, cards and stacks. This allows for a reduction in software development cost and enables people to build ever increasingly powerful applications by standing on the shoulders of other people’s good code.
                    </p>
                    <p>
                        The buying and selling of open source software aims to solve an age old problem of how the open source community get funding.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-xs-12 text-center">
                <div class="feature">
                    <img src="{{ .Site.BaseURL }}img/icon-buy-min.png" />
                    <p>
                        Buy and sell components, cards and stacks using <strong>ADA</strong>.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 text-center">
                <div class="feature">
                    <img src="{{ .Site.BaseURL }}img/icon-search-min.png" />
                    <p>
                        Easily find then drag-and-drop components, designed to interface with smart contracts, into cards and stacks.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 text-center">
                <div class="feature">
                    <img src="{{ .Site.BaseURL }}img/icon-align-min.png" />
                    <p>
                        Fractalmarket rewards people for creating and using reusable components, cards and stacks.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{{ partial "signup.html" . }}
{{ partial "footer.html" . }}
