/*********************/
/* Fractalide Styles */
/*********************/
* {
    font-family: "Nunito Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #171d1f;
}
.text_white {
    color: #ffffff;
}
.text_blue {
    color: #58B4CD;
}
.text_blue b {
    color: #58B4CD;
    font-weight: bold;
}
.text_dark_blue {
    color: #0d3e4c;
}
h1 {
    font-weight: 900;
    font-size: 40px;
}
@media (max-width: 480px) {
  h1 {
    font-size: 32px;
  }
}
h1.section_heading_blue {
    color: #0d3e4c;
}
h1.section_heading_white {
    color: #ffffff;
}
h1.fractal_blue {
    background: url('/img/fractal-blue-min.png') no-repeat center;
    background-size: 437px 190px;
    height: 190px;
    padding-top: 75px;
    margin-bottom: 40px;
}
h1.fractal_white {
    background: url('/img/fractal-white-min.png') no-repeat center;
    background-size: 437px 190px;
    height: 190px;
    padding-top: 75px;
    margin-bottom: 80px;
}
h1.no_fractal {
    padding-top: 75px;
}
h2 {
    font-size: 24px;
}
@media (max-width: 480px) {
  h2 {
    font-size: 20px;
  }
}
h2>a {
    font-size: 24px;
}
h2>a:hover {
    text-decoration: none;
}
h2.sub_heading_blue {
    color: #58b4cd;
    margin-bottom: 20px;
}
h2.sub_heading_white {
    color: #ffffff;
    margin-bottom: 20px;
}
h3 {
    color: #0D3E4C;
    font-size: 18px;
    font-weight: bold;
}
p {
    font-size: 16px;
    color: #171d1f;
    margin-bottom: 20px;
}
p.copyright {
    font-size: 14px;
    color: #ffffff;
}
a {
    font-size: 16px;
    color: #58b4cd;
}
a.link_white {
    color: #ffffff;
    text-decoration: underline;
}
a.topnav .active {
    font-size: 14px;
    color: #ffffff;
}
a.topnav .inactive {
    font-size: 14px;
    color: #a7ddec;
}
a.disclaimer {
    font-size: 14px;
    color: #ffffff;
}
ul {
    padding: 1em;
}
ul li {
  color: #64DBEC;
}

/******************/
/* Header section */
/******************/
.header_background,
.header_background_home {
    background: #FFFFFF url('/img/header-min.png') no-repeat center top;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -ms-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    width: 100%;
    height: 0;
    padding-bottom: 67.97%; /* (img-height / img-width * width) */
    margin: -1px 0 -120px 0px;
}
@media (max-width: 480px) {
  .header_background {
    background: #FFFFFF url('/img/header-phone-min.png') no-repeat center top;
    padding-bottom: 300%;
  }
  .header_background_home {
      background: #FFFFFF url('/img/header-phone-tall-min.png') no-repeat center top;
      padding-bottom: 300%;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .header_background,
  .header_background_home {
    background: #FFFFFF url('/img/header-tab-min.png') no-repeat center top;
    padding-bottom: 170%;
  }
}
@media (min-width: 481px) and (max-width: 768px) and (orientation: landscape) {
  .header_background,
  .header_background_home {
    background: #FFFFFF url('/img/header-tab-min.png') no-repeat center top;
    padding-bottom: 200%;
  }
}

.header_content_stack {
  margin-top: 75px;
  padding-top: 45px;
}
@media (max-width: 991px) {
  .header_content_stack {
    padding-bottom: 0%;
  }
}
.header_content_stack button {
    margin-top: 40px;
}
.header_gradient {
    background-image: -webkit-linear-gradient(90deg, rgba(88, 180, 205, 0) 0%, rgb(88, 180, 205) 100%);
    background-image: -moz-linear-gradient(90deg, rgba(88, 180, 205, 0) 0%, rgb(88, 180, 205) 100%);
    background-image: -ms-linear-gradient(90deg, rgba(88, 180, 205, 0) 0%, rgb(88, 180, 205) 100%);
    background-image: -o-linear-gradient(90deg, rgba(88, 180, 205, 0) 0%, rgb(88, 180, 205) 100%);
    width: 100%;
    min-height: 150px;
    margin-top: 75px;
    padding-top: 45px;
}



/******************/
/* Footer section */
/******************/
.footer_background,
.footer_background_home {
    background: #FFFFFF url('/img/footer-min.png') no-repeat center bottom;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -ms-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    width: 100%;
    height: 0;
    padding-top: 67.97%; /* (img-height / img-width * width) */
    margin: -120px 0 -1px 0;
}
@media (max-width: 768px) {
    .footer_background {
      background-image: -webkit-linear-gradient(90deg, rgb(88, 180, 205) 0%, rgba(88, 180, 205, 0) 100%);
      background-image: -moz-linear-gradient(90deg, rgb(88, 180, 205) 0%, rgba(88, 180, 205, 0) 100%);
      background-image: -ms-linear-gradient(90deg, rgb(88, 180, 205) 0%, rgba(88, 180, 205, 0) 100%);
      background-image: -o-linear-gradient(90deg, rgb(88, 180, 205) 0%, rgba(88, 180, 205, 0) 100%);
      width: 100%;
      padding-top: 200px;
      margin-top: -80px;
    }
}
@media (max-width: 480px) {
  .footer_background_home {
    background: #FFFFFF url('/img/footer-phone-min.png') no-repeat center bottom;
    padding-top: 220%;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .footer_background_home {
    background: #FFFFFF url('/img/footer-tab-min.png') no-repeat center bottom;
    padding-top: 160%;
  }
}

.footer_content_signup {
    margin-top: -40%;
}
@media (max-width: 480px) {
  .footer_content_signup {
    margin-top: -120%;
  }
}
@media (min-width: 481px) and (max-width: 991px) {
  .footer_content_signup {
    margin-top: -80%;
  }
}

.footer_content_faqs {
    margin-top: -24%;
}
@media (max-width: 480px) {
  .footer_content_faqs {
    margin-top: -40%;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .footer_content_faqs {
    margin-top: -20%;
  }
}

.footer_content_roadmap {
    margin-top: -15%;
}
@media (max-width: 480px) {
  .footer_content_roadmap {
    margin-top: -30%;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .footer_content_roadmap {
      margin-top: -15%;
  }
}

.footer_gradient {
    background-image: -webkit-linear-gradient(90deg, rgb(88, 180, 205) 0%, rgba(88, 180, 205, 0) 100%);
    background-image: -moz-linear-gradient(90deg, rgb(88, 180, 205) 0%, rgba(88, 180, 205, 0) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(88, 180, 205) 0%, rgba(88, 180, 205, 0) 100%);
    background-image: -o-linear-gradient(90deg, rgb(88, 180, 205) 0%, rgba(88, 180, 205, 0) 100%);
    width: 100%;
    padding-top: 200px;
    margin-top: -80px;
}
.footer_solid {
    background-color: rgb(88, 180, 205);
    width: 100%;
    padding-top: 15px;
}


/*******************/
/* Page: Error 404 */
/*******************/
section#error_404 {
    margin-top: 75px;
}
section#error_404 a {
    margin: 120px 0 120px 0;
}
section#error_404 > div.header_background {
    margin-bottom: 0px;
}


/******************************/
/* Page: Home - Section: Main */
/******************************/
h2.fractal_blue {
    background: url('/img/fractal-blue-min.png') no-repeat center;
    background-size: 219px 95px;
    height: 95px;
    padding-top: 35px;
}


/***********************************/
/* Page: Home - Section: Hyperflow */
/***********************************/
.hypercard_concepts {
    margin-top: 40px;
}
.concept_icon {
    margin-top: 25px;
    text-align: right;
}
@media (max-width: 1199px) {
  .concept_icon {
    padding-top: 45px;
    text-align: center;
  }
  .concept_info {
    text-align: center;
  }
  .concept_info p {
      margin: 0 25px 0 25px;
  }
}
section#trulity_modes {
    margin-top: 90px;
}
@media (min-width: 1200px) {
    section#trulity_modes > div.container > div.row:nth-child(2) {
        margin-top: 120px;
    }
    .hyperflow_flex_container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap-reverse;
        height: 900px;
    }
    .hyperflow_icon {
        order: 2;
        width: 50%;
        text-align: center;
        padding-bottom: 10px;
    }
    .hyperflow_icon > img {
        width: 316px;
    }
    .hyperflow_icon_top {
        margin-top: -70px;
    }
    .hyperflow_icon_middle {
        margin-top: -95px;
    }
    .hyperflow_icon_bottom {
        margin-top: -96px;
    }
    .hyperflow_icon_odd {
        padding-right: 160px;
    }
    .hyperflow_icon_none {
        padding-left: 160px;
    }
    .hyperflow_mode {
        order: 1;
        width: 50%;
        margin: 0px 30px 30px 30px;
    }
    .hyperflow_item_1 {}
    .hyperflow_item_2 {}
    .hyperflow_item_3 {}
}

@media (max-width: 1199px) {
    .hyperflow_flex_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .hyperflow_icon {
        text-align: center;
    }
    .hyperflow_icon > img {
        width: 236px;
    }
    .hyperflow_icon_odd {}
    .hyperflow_icon_none {}
    .hyperflow_mode {
        text-align: center;
        margin: 0px 30px 60px 30px;
    }
    .hyperflow_item_1 {
        order: 1
    }
    .hyperflow_item_2 {
        order: 2
    }
    .hyperflow_item_3 {
        order: 3
    }
}

/***************************************/
/* Page: Home - Section: Fractalmarket */
/***************************************/
.gradient_top {
    background-image: -webkit-linear-gradient(90deg, rgb(167, 221, 236) 0%, rgba(167, 221, 236, 0) 100%);
    background-image: -moz-linear-gradient(90deg, rgb(167, 221, 236) 0%, rgba(167, 221, 236, 0) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(167, 221, 236) 0%, rgba(167, 221, 236, 0) 100%);
    background-image: -o-linear-gradient(90deg, rgb(167, 221, 236) 0%, rgba(167, 221, 236, 0) 100%);
    width: 100%;
    height: 200px;
}
.solid {
    background-color: rgb(167, 221, 236);
    width: 100%;
    height: auto;
}
.gradient_bottom {
    background-image: -webkit-linear-gradient(90deg, rgba(167, 221, 236, 0) 0%, rgb(167, 221, 236) 100%);
    background-image: -moz-linear-gradient(90deg, rgba(167, 221, 236, 0) 0%, rgb(167, 221, 236) 100%);
    background-image: -ms-linear-gradient(90deg, rgba(167, 221, 236, 0) 0%, rgb(167, 221, 236) 100%);
    background-image: -o-linear-gradient(90deg, rgba(167, 221, 236, 0) 0%, rgb(167, 221, 236) 100%);
    width: 100%;
    height: 200px;
}
.feature {
    background: url('/img/shape-blue-min.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 308px 360px;
    width: 308px;
    height: 360px;
    padding-top: 85px;
    margin: 80px auto 15px auto;
}
@media (max-width: 480px) {
  .feature {
    background-size: 246px 288px;
    width: 246px;
    height: 288px;
    padding-top: 40px;
  }
}
.feature > p {
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}


/*************************************/
/* Page: Home - Section: Stake Pools */
/*************************************/

/* Page: Cardano (LUCEO) */
section#luceo-ceo h1.fractal_white {
    background: url('/img/stake-pools/stake-pool-luceo-min.png') no-repeat center;
    background-size: 437px 190px;
    height: 190px;
    padding-top: 75px;
    margin-bottom: 80px;
}

/* Page: Cardano (ADA) */
section#cardano-ada h1.fractal_white {
    background: url('/img/stake-pools/stake-pool-ada-min.png') no-repeat center;
    background-size: 437px 190px;
    height: 190px;
    padding-top: 75px;
    margin-bottom: 80px;
}

/* Page: Tezos (XTZ) */
section#tezos-xtz h1.fractal_white {
    background: url('/img/stake-pools/stake-pool-tezos-min.png') no-repeat center;
    background-size: 437px 190px;
    height: 190px;
    padding-top: 75px;
    margin-bottom: 80px;
}

section#luceo-ceo p,
section#cardano-ada p,
section#tezos-xtz p,
section#luceo-ceo button,
section#cardano-ada button,
section#tezos-xtz button {
    margin-top: 30px;
}

.stake_pool_icon {
    margin: 60px 0 40px 0;
}

@media (min-width: 1200px) {
  .stake_pool_text {
    margin: 0 25px 0 25px;
  }
}

.blue_box {
    background-color: #E8F7FA;
    margin: 90px 0 30px 0;
    padding: 20px;
    border-radius: 4px;
}
.white_box {
    background-color: #FFF;
    margin: 20px;
    padding: 20px 0 20px 0;
    border-radius: 4px;
}
.full_box {
    margin: 20px;
    padding: 20px 0 20px 0;
    border-radius: 2px;
    border: 1px solid #58B4CD;
    color: #0D3E4C;
}

@media (max-width: 1200px) {
  .blue_box {
    padding: 20px 0 20px 0;
  }
  .white_box {
    padding: 20px 0 20px 0;
  }
  #delegationAddress {
    word-wrap:break-word;
  }
}

.copy, .copy:hover {
    color: #58B4CD;
    background-color: #FFF;
    text-decoration: none;
}


/****************************************/
/* Page: Home - Section: Cardano Wallet */
/****************************************/
.cardano_wallet {
    margin-top: -40px;
}
#cardano a {
    margin-top: 40px;
}
.cantor_features {
    padding-top: 120px;
}
.cantor_feature {
    margin-top: 40px;
}
@media (max-width: 1199px) {
  .cantor_feature p {
      margin: 0 25px 0 25px;
  }
}

.download_container {
    padding-bottom: 450px;
}
.download_title {
    margin-bottom: 25px;
}
.download_row {
    margin: 0 40px 0 40px;
}
.cardano_download {
    background-color: #FFFFFF;
    padding: 60px 0 40px 0;
    margin-bottom: 25px;
}
@media (max-width: 480px) {
    .download_container {
        padding-bottom: 90px;
    }
    .cardano_download {
        padding: 40px 0 10px 0;
        width: 260px;
        display: inline-block;
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    .download_container {
        padding-bottom: 120px;
    }
    .cardano_download {
        padding: 60px 0 40px 0;
        width: 320px;
        display: inline-block;
    }
}
@media (min-width: 768px) and (max-width: 1199px) {
    .download_container {
        padding-bottom: 180px;
    }
    .cardano_download {
        padding: 90px 0 60px 0;
        width: 400px;
        display: inline-block;
    }
}

@media (min-width: 1200px) {
    .footer_background_dc {
        background: #FFFFFF url('/img/footer-min.png') no-repeat center bottom;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -ms-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
        width: 100%;
        height: 0;
        padding-top: 67.97%; /* (img-height / img-width * width) */
        margin: -600px 0 -1px 0;
    }
}
@media (max-width: 1199px) {
    .footer_gradient_dc {
        background-image: -webkit-linear-gradient(90deg, rgb(88, 180, 205) 0%, rgba(88, 180, 205, 0) 100%);
        background-image: -moz-linear-gradient(90deg, rgb(88, 180, 205) 0%, rgba(88, 180, 205, 0) 100%);
        background-image: -ms-linear-gradient(90deg, rgb(88, 180, 205) 0%, rgba(88, 180, 205, 0) 100%);
        background-image: -o-linear-gradient(90deg, rgb(88, 180, 205) 0%, rgba(88, 180, 205, 0) 100%);
        width: 100%;
        padding-top: 200px;
        margin-top: -80px;
    }
    .footer_solid_dc {
        background-color: rgb(88, 180, 205);
        width: 100%;
        padding-top: 15px;
    }
}



/**************************************************/
/* Page: Home - Section: Development and Analysis */
/**************************************************/
#development_and_analysis p {
    margin-bottom: 30px;
}
.development_item {
    margin-top: 60px;
}
@media (max-width: 1199px) {
  .development_item p {
      margin: 0 25px 0 25px;
  }
}
.development_title {
    margin-top: 60px;
}
.development_item p {
    padding: 0 15px 0 15px;
}


/******************/
/* Page: About us */
/******************/
.team_member {
    margin: 30px 0 30px 0;
    min-height: 348px;
}
.content_vision {
    padding-bottom: 120px;
}


/*****************/
/* Page: Roadmap */
/*****************/
.roadmap {
    margin-top: 80px;
}
.roadmap_spot {
    text-align: center;
    padding-bottom: 2px;
}
@media (max-width: 768px) {
    .roadmap_spot {
        text-align: left;
        padding-left: 27px;
        padding-bottom: 2px;
    }
}
.roadmap_container {
    display: flex;
    justify-content: center;
    height: 100%;
}
@media (max-width: 768px) {
    .roadmap_container {
        flex-flow: row wrap;
        justify-content: flex-start;
    }
}
.roadmap_line {
    order: 2;
    background-color: #79949F;
    width: 2px;
    margin-left: 32px;
    margin-right: 32px;
    min-height: 60px;
}
@media (max-width: 768px) {
    .roadmap_line {
        order: 1;
        min-height: 60px;
    }
    .roadmap_line_fill {
        order: 3;
        background-color: #79949F;
        width: 2px;
        margin-left: 32px;
        margin-right: 32px;
        min-height: 60px;
    }
}
.roadmap_step {
    order: 1;
    flex: 1 1 45%;
    text-align: right;
    margin-top: -23px;
}
@media (max-width: 768px) {
    .roadmap_step {
        order: 2;
        text-align: left;
        margin-top: -50px;
    }
}
@media (max-width: 480px) {
    .roadmap_step {
        flex: 1 1 75%;
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    .roadmap_step {
        flex: 1 1 85%;
    }
}
.roadmap_step h2 {
    margin-top: 0px;
}
@media (max-width: 768px) {
    .roadmap_step h2 {
        margin-top: 30px;
    }
}
.roadmap_info {
    order: 3;
    flex: 1 1 45%;
    margin-top: -19px;
    padding-bottom: 60px;
}
@media (max-width: 768px) {
    .roadmap_info {
        margin-top: -30px;
    }
}
.roadmap_progress {
    width: 50%;
    margin-bottom: 20px;
}
@media (max-width: 480px) {
    .roadmap_progress {
        width: 80%;
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    .roadmap_progress {
        width: 70%;
    }
}
.roadmap_progress p,
.roadmap_progress span {
    margin-top: -5px;
    margin-bottom: 5px;
    color: #79949f;
}
.roadmap_progress .progress {
    width: 100%;
}
.roadmap_detail {
    width: 70%;
    padding-bottom: 15px;
}
.roadmap_detail a,
.roadmap_detail li,
.roadmap_detail p {
    color: #000000;
    font-size: 14px;
}
.roadmap_detail a {
    text-decoration: none !important;
}
.roadmap_detail ul {
    margin-bottom: 0px;
}
.roadmap_detail li {
    margin-bottom: 15px;
}
.roadmap a[aria-expanded="true"] i.fa-chevron-down
{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.roadmap_info a[aria-expanded="false"] i.fa-chevron-up
{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.roadmap_end {
    padding-top: 180px;
}
.roadmap_line_end {
    position: absolute;
    width: 50%;
    border-right: 2px solid #79949F;
    margin-left: 1px;
    height: 200px;
    margin-top: -180px;
}
.roadmap_fractal {
    text-align: center;
    padding: 30px 25% 30px 25%;
}
.roadmap_footer {
    margin-top: -45%;
}
@media (max-width: 480px) {
    .roadmap_line_end {
        background-color: #79949F;
        width: 2px;
        margin-left: 32px;
    }
    .roadmap_fractal {
        text-align: left;
        padding-left: 30px;
    }

    .roadmap_end {
        padding-top: 90px;
    }
    .roadmap_line_end {
        height: 100px;
        margin-top: -90px;
    }
    .roadmap_footer {
        margin-top: -30%;
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    .roadmap_line_end {
        background-color: #79949F;
        width: 2px;
        margin-left: 32px;
    }
    .roadmap_fractal {
        text-align: left;
        padding-left: 30px;
    }

    .roadmap_end {
        padding-top: 90px;
    }
    .roadmap_line_end {
        height: 100px;
        margin-top: -90px;
    }
    .roadmap_footer {
        margin-top: -15%;
    }
}



/********/
/* Blog */
/********/
.blog_list {
    margin-bottom: 80px;
}

.author_image {
    margin: -4px 8px 0 0;
}

.blog_posts {
    margin-bottom: 60px;
}

.post .panel-body {
    padding: 20px 40px;
}

.panel {
    -webkit-box-shadow: 0px 3px 3px 0px rgba(121,148,159,0.2);
    -moz-box-shadow: 0px 3px 3px 0px rgba(121,148,159,0.2);
    -ms-box-shadow: 0px 3px 3px 0px rgba(121,148,159,0.2);
    -o-box-shadow: 0px 3px 3px 0px rgba(121,148,159,0.2);
    box-shadow: 0px 3px 3px 0px rgba(121,148,159,0.2);
}



/*******************/
/* Page: ICO Comic */
/*******************/
section#ico h1.fractal_white {
    background: url('/img/comic/sword-hero-min.png') no-repeat bottom;
    background-size: 437px 190px;
    height: 270px;
    padding-top: 0px;
    margin-bottom: 80px;
}

.comic_container {
    width: 100%;
}
.comic_slide {
    width: 770px;
}
.comic {
    width: 100%;
}
.comic_secret {
    width: 100%;
}
.comic_secret_sword {
    width: 391px;
    margin: -309px -1px 0 0;
    z-index: 9999;
    cursor: default;
}
.comic_end {
    margin-bottom: -350px;
}

@media (max-width: 479px) {
    .comic_slide {
        width: 350px;
    }
    .comic_secret_sword {
        width: 178px;
        margin: -153px -1px 0 0;
    }
    .comic_end {
        margin-bottom: 0px;
    }
}
@media (min-width: 480px) and (max-width: 767px) {
    .comic_slide {
        width: 350px;
    }
    .comic_secret_sword {
        width: 178px;
        margin: -153px -1px 0 0;
    }
    .comic_end {
        margin-bottom: 0px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .comic_slide {
        width: 550px;
    }
    .comic_secret_sword {
        width: 279px;
        margin: -227px -1px 0 0;
    }
    .comic_end {
        margin-bottom: -240px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .comic_slide {
        width: 770px;
    }
    .comic_secret_sword {
        width: 391px;
        margin: -309px -1px 0 0;
    }
    .comic_end {
        margin-bottom: -180px;
    }
}



/*********************/
/* Page: ICO Details */
/*********************/
section#ico-details h1.fractal_white {
    background: url('/img/comic/coin-min.png') no-repeat center;
    background-size: 437px 190px;
    height: 190px;
    padding-top: 75px;
    margin-bottom: 80px;
}

section#ico-details {
    background-color: #A7DDEC;
    background-image: -webkit-linear-gradient(90deg, rgb(88, 180, 205) 0%, rgba(88, 180, 205, 0) 20%);
    background-image: -moz-linear-gradient(90deg, rgb(88, 180, 205) 0%, rgba(88, 180, 205, 0) 20%);
    background-image: -ms-linear-gradient(90deg, rgb(88, 180, 205) 0%, rgba(88, 180, 205, 0) 20%);
    background-image: -o-linear-gradient(90deg, rgb(88, 180, 205) 0%, rgba(88, 180, 205, 0) 20%);
}

section#ico-details .header_gradient {
    background: #A7DDEC !important;
}

.light_blue_box {
    background-color: #E8F7FA;
    padding: 20px;
}

.sale_progress {
    color: #79949f;
}

.checklist input[type=checkbox] {
  display: none;
}

.checklist input[type=checkbox] ~ span {
  display: inline-block;
  height: 16px;
  width: 16px;
  border: 1px solid #bbbbbb;
  vertical-align: middle;
}

.checklist input[type=checkbox].error ~ span {
  border: 1px solid #ed7a7f;
}

.checklist input[type=checkbox] ~ span:hover {
  cursor: pointer;
  background-color: #eeeeee;
}

.checklist input[type=checkbox]:checked ~ span {
  border: 0px;
  background-color: #58B4CD;
}
/*
.checklist input[type=checkbox]:checked ~ span:before {
  font-family: 'fontawesome';
  color: #ffffff;
  content: '\f00c';
}
*/
.sub_heading_blue val {
    font-size: 24px;
    color: #58b4cd;
    margin-bottom: 20px;
}
